<html>
  <head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href={% static "new.css" %} />
	<link rel="stylesheet" href="http://v3.bootcss.com/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href={% static "common.css" %} />
    <script src="/static/jquery/jquery-1.12.3.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src={% static "js/bootstrap.js" %}></script>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
  </head>
  <body>
    欢迎来到骏梦运维平台!
  </body>
</html>